
#entire2
{
    margin-top: 0px;
    margin-left:76px;
    background-repeat: no-repeat;
    background-image: url('C:/Users/SURENDER K M/OneDrive/Documents/GitHub/React_IRC/Project/sims/src/assets/images/bg11.jpg');
    /* C:\Users\SURENDER K M\OneDrive\Documents\GitHub\React_IRC\Project\sims\src\assets\images\bg11.jpg */
    background-size: cover;
    height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

li{
    list-style-type: none;
    text-decoration: none;
}
.topnav {
  margin-left: 70px;
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    background-color:#bb00fd;
     /* #ef8533; */
    width:100%;
    height: 75px;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  
  }
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #a32fd8;
    color: rgb(244, 241, 241);
  }
  
  /* Add a color to the active/current link */
  /* .topnav a.active {
    background-color: #e08f0c;
    color: white;
  } */
     
  h1{
    transition: 3s;
    text-align: center;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1cm;
    font-style: italic;
    text-shadow:
4.5px 4.5px 3.6px rgba(98, 6, 212, 0.712),
12.5px 1.5px 10px rgba(15, 34, 209, 0.81),
30.1px 30.1px 24.1px rgba(92, 2, 210, 0.83),
100px 100px 80px rgba(213, 198, 198, 0.23)
;
  }
  #title{
    text-align: left;
    padding-left: 550px;
    padding-top: 0px;
    font-style: italic;
    font-size: 2cm;
    /* overflow: hidden; */
  }
  
  .container {
    margin-top: 50px;
    display: flex;
    /* background: #FDC83u0;  fallback for old browsers */
    background: #9D50BB;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6E48AA, #9D50BB);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6E48AA, #9D50BB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    /* background-color: rgb(216, 162, 12); */
    justify-content: center;
  }
  
  .fitem {
    color: #f1f1f1;
    margin: 10px;
    padding: 15px;
    font-size: 25px;
    border: 3px solid white;
    border-radius: 15px;
    opacity: 0.5;
  }
  .container div:hover{
    transform: scale(1);
    transition-duration:0.4s ;
    background-color: white;
    color: rgb(104, 50, 174);
    margin: 7px; 
    padding: 10px; 
    font-size: 30px;
    border: 3px solid rgb(21, 53, 168);
    border-radius: 20px;
    opacity:1;
    font-style: italic;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
/* 
Navigating success, tracking achievements. Your journey begins here with our Student Information Management System."
"Connecting education with innovation. Welcome to a seamless learning experience with our Student Information Management System."

"Unlocking potential, shaping destinies. Step into a world of possibilities with our Student Information Management System."
 */